
main {
    padding: 1em;
}
h1 {
    font-size: 2em;
}
section {
      grid-template-columns: repeat(3, 1fr);

    gap: 10px;

}
/*  class=" w-fit bg-gray-500 p-3 rounded-md" */
.movie_card {
    display: flex;
    flex-direction: column;
    text-wrap:wrap;
    height: 65vh;
    width: auto;
    margin: 1vh;
    justify-content: space-between;
    color: white;
    background-color: oklch(26.598% 0.03046 301.515);
    padding: 1em;
    border-radius: 10px;
    flex-shrink: 0;
h3 {
    font-size: 1.2em;
    font-weight:bold ;
}
a {
    background-color: oklch(35.4% 0.07879 323.267);
    padding: 0.3em 0.5em;
    border-radius: 8px;
    text-align: center;
}
}
.movie_card:hover {
    background-color: rgb(74, 69, 78);

}
a:hover{
    background-color: red;
}
/* class=" text-white bg-gray-400 p-1  rounded-lg" */
.red{
    color:red
}